################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GiaSuService/obj
/GiaSuService/.vs/GiaSuService/FileContentIndex
/GiaSuService/bin/Debug/net7.0
/GiaSuService/.vs/GiaSuService/v17
/GiaSuService/.vs/GiaSuService/config
/GiaSuService/.vs/GiaSuService/DesignTimeBuild
/GiaSuService/GiaSuService.csproj
