@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Giới thiệu</h1>
    <p>Trung tâm gia sư chuyên cung cấp đội ngũ gia sư giỏi dạy kèm tại nhà uy tín TPHCM. Được thành lập năm 2024 với 15000 Giáo Viên, Sinh Viên, trung tâm gia sư của chúng tôi đang là nơi tìm gia sư Chất Lượng cho quý phụ huynh, là trung tâm gia sư vô cùng quy tín cho giáo viên, sinh viên.</p>
</div>  
