@{
    ViewData["Title"] = "Home Page";
}


<section id="hero" class="mt-3 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
                    <h1>Chào mừng bạn đến với Tutor Light</h1>
                    <h5>Nơi kiến thức và sự chắp cánh ước mơ gặp gỡ!</h5>
               
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="~/css/img/Learning-PNG-Photo.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
    <!--<img class="img pb-3 pt-0" id="imgimg" src="~/css/img/Learning-PNG-Photo.png" alt="">
    <h1 class="display-4">Tutor Light</h1>
    <div>

        <p class="text-center">Chào mừng bạn đến với TutorLight - Nơi kiến thức và sự chắp cánh ước mơ gặp gỡ!</p>

        Tại Tutor Light, chúng tôi tin rằng mỗi học viên đều có một nguồn sáng soi đường tiềm năng riêng. Với đội ngũ gia sư chuyên nghiệp và đầy đam mê, chúng tôi cam kết mang đến trải nghiệm học tập cá nhân hóa, mang tính tương tác cao, không chỉ hỗ trợ học viên trong việc nắm vững kiến thức mà còn phát triển kỹ năng sống thiết yếu.

        Khi gia nhập cộng đồng TutorLight, bạn không chỉ tìm được người hướng dẫn lý tưởng cho mình, mà còn được tham gia vào một hành trình học tập đầy cảm hứng, giúp mỗi bài học không chỉ dừng lại ở lý thuyết mà còn là những bài học cuộc sống quý giá.

        Hãy thắp sáng tương lai của bạn cùng TutorLight - Khởi đầu của những thành tựu vĩ đại!
    <div/>
    <h1 class="display-4">Giới thiệu</h1>
    <p>
        <span style="font-size: 1.5em; font-weight:bold">Tutor Light</span> <em>tự hào</em> là một trong những <em>trung tâm gia sư hàng đầu</em>, nơi cung cấp <em>đội ngũ gia sư chất lượng cao và dày dặn kinh nghiệm</em>. Trung tâm gia sư của chúng tôi không chỉ chú trọng vào việc <em>nâng cao điểm số</em> mà còn tập trung vào việc <em>phát triển toàn diện</em> khả năng <em>tư duy, sáng tạo và hiểu sâu sắc về kiến thức</em> .
    </p>
    <p>
        <strong>Với phương pháp giảng dạy đổi mới, cá nhân hóa</strong> và được thiết kế <em>đặc biệt</em> dành riêng cho từng học viên, chúng tôi <em>cam kết</em> giúp học viên của mình <em>tối đa hóa tiềm năng cá nhân và đạt được mục tiêu</em> học tập của mình. Chúng tôi hiểu rằng mỗi học viên là một cá nhân độc đáo, và chính vì vậy, kế hoạch học tập được tạo ra để phù hợp với nhu cầu và phong cách học riêng biệt của họ.
    </p>
    -->

        <div class="container">

            <div class="mt-5">
                <h2 style="color: var(--title-font)">Tại sao nên cho con bạn học tại TutorLight?</h2>
        <p>TutorLight là một dịch vụ cho thuê gia sư tận tâm, mang đến cho học sinh sự hỗ trợ học tập chất lượng cao. Dưới đây là bốn lý do tại sao học sinh nên chọn học với gia sư của TutorLight:</p>
            </div>

            <div class="row">
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box">
                        <h4>Giáo viên chất lượng cao</h4>
                <p>TutorLight có đội ngũ giáo viên được tuyển chọn kỹ lưỡng với kinh nghiệm và trình độ chuyên môn cao, giúp học sinh tiếp thu kiến thức một cách hiệu quả.</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box">
                        <div class="icon"><i class=""></i></div>
                <h4>Lịch học linh hoạt</h4>
                <p>Với TutorLight, học sinh có thể lựa chọn lịch học phù hợp với thời gian biểu của mình. Điều này giúp học sinh quản lý thời gian tốt hơn và duy trì cân bằng giữa việc học tập và hoạt động khác.</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0">
                    <div class="icon-box">
                        <div class="icon"><i class=""></i></div>
                <h4>Chương trình học cá nhân hóa</h4>
                <p>Gia sư của TutorLight xây dựng chương trình học tập theo nhu cầu riêng của từng học sinh. Điều này đảm bảo học sinh nhận được sự hỗ trợ cụ thể và tập trung vào các lĩnh vực cần cải thiện.</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0">
                    <div class="icon-box">
                        <div class="icon"><i class=""></i></div>
                <h4>Dịch vụ hỗ trợ chuyên nghiệp</h4>
                <p>TutorLight không chỉ cung cấp gia sư mà còn hỗ trợ học sinh và phụ huynh trong suốt quá trình học tập. Dịch vụ chuyên nghiệp và tận tâm này giúp học sinh đạt được tiến bộ nhanh chóng và hiệu quả.</p>
                    </div>
                </div>

            </div>

        </div>

<div class="text-align: left">
    <img class="img pt-2 pb-2" src="~/css/img/phuhuynh.png" alt="">
    <p>
        <strong>Hãy để TutorLight</strong> trở thành <em>người đồng hành</em> trên con đường kiến thức của bạn hoặc của con bạn. Đến với chúng tôi, bạn không chỉ tìm thấy một người hướng dẫn thông thái, mà còn là một người bạn có thể tin tưởng để <em>chia sẻ, để khám phá</em> và để <em>vươn xa hơn nữa</em> trong hành trình giáo dục.
    </p>
    <img class="img pt-2 pb-2" src="~/css/img/kids-removebg.png" alt="">
        <p>

        <strong>Đăng ký ngay hôm nay</strong>, và bắt đầu hành trình học tập đột phá cùng chúng tôi. Chúng tôi mong muốn được chứng kiến từng bước tiến vững chắc của bạn.
    </p>
    <img class="img pt-2 pb-2" src="~/css/img/ft.png" alt="">
</div>  
