@{
    ViewData["Title"] = "Home Page";
}

<div class="text-align: left">
    <img class="img w-80 pb-3 pt-0" src="~/css/img/Learning-PNG-Photo.png" alt="">

    <h1 class="display-4">Giới thiệu</h1>

    <p>
        Chúng tôi tự hào là một trong những trung tâm gia sư hàng đầu, nơi cung cấp đội ngũ gia sư chất lượng cao và dày dặn kinh nghiệm. Trung tâm gia sư của chúng tôi không chỉ chú trọng vào việc nâng cao điểm số mà còn tập trung vào việc phát triển toàn diện khả năng tư duy, sáng tạo và hiểu sâu sắc về kiến thức.
    </p>

    <p> 
       Với phương pháp giảng dạy đổi mới, cá nhân hóa và được thiết kế đặc biệt dành riêng cho từng học viên, chúng tôi cam kết giúp học viên của mình tối đa hóa tiềm năng cá nhân và đạt được mục tiêu học tập của mình. Chúng tôi hiểu rằng mỗi học viên là một cá nhân độc đáo, và chính vì vậy, kế hoạch học tập được tạo ra để phù hợp với nhu cầu và phong cách học riêng biệt của họ.
    </p>
    <img class="img pt-2 pb-2" src="~/css/img/gv.png" alt="">

    <p>
        Hãy cho chúng tôi cơ hội trở thành người đồng hành trên con đường kiến thức của bạn hoặc của con bạn. Đến với chúng tôi, bạn không chỉ tìm thấy một người hướng dẫn thông thái, mà còn là một người bạn có thể tin tưởng để chia sẻ, để khám phá và để vươn xa hơn nữa trong hành trình giáo dục.
    </p>
    <img class="img pt-2 pb-2" src="~/css/img/kids-removebg.png" alt="">

        <p>
        Đăng ký ngay hôm nay, và bắt đầu hành trình học tập đột phá cùng chúng tôi. Chúng tôi mong muốn được chứng kiến từng bước tiến vững chắc của bạn.
    </p>
    <img class="img pt-2 pb-2" src="~/css/img/ft.png" alt="">

</div>  
