@using GiaSuService.Models.UtilityViewModel;
@{
    ViewData["Title"] = "Session Date Manager";
}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.4/dist/bootstrap-table.min.js"></script>
<div class="container">
    <h1>Quản lý buổi học</h1>

    <table id="sessionTable"
           data-pagination="true"
           data-height="500"
           class="table table-striped thead-light">
        <thead>
            <tr>
                <th data-field="sessionId" data-visible="false"></th>
                <th data-width="40" data-width-unit="%" data-field="sessionName">Buổi học</th>
                <th data-width="20" data-width-unit="%" data-field="value">Thứ tự</th>
                <th data-width="40" data-width-unit="%">Hành động</th>
            </tr>
        </thead>
        <tbody id="data-container">
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {

        function actionFormatter(value, row, index) {
            return `
                    <button type="button" class="btn btn-sm btn-success add-button">Thêm</button>
                        <button type="button" class="btn btn-sm btn-primary customstyle-button edit-button" data-session-id="${row.sessionId}">Chỉnh sửa</button>
                    <button type="button" class="btn btn-sm btn-danger delete-button" data-session-id="${row.sessionId}">Xóa</button>
                `;
        }

        function refreshTable() {
            $.ajax({
                url: '/Admin/GetSessionList',
                method: 'GET',
                success: function (data) {
                    $("#sessionTable").bootstrapTable('load', data);

                }
            })
        }

        $("#sessionTable").bootstrapTable({
            columns: [
                { field: 'sessionId', visible: false },
                { field: 'sessionName', title: 'Buổi học' },
                { field: 'value', title: 'Thứ tự' },
                { field: 'actionButtons', title: 'Hành động', formatter: actionFormatter }
            ]
        });
        refreshTable();

        $(document).on('click', '.edit-button', function () {
            let $tr = $(this).closest('tr');
            let $tds = $tr.find('td');

            // Extract current values from the table cells
            let name = $tds.eq(0).text();
            let order = $tds.eq(1).text();

            let sessionId = $(this).data('session-id');

            let originalData = $tr.html();
            $tr.html(`
                  <td><input type="text" class="form-control customform-control"" name="sessionName" placeholder="Enter Name" value="${name}"></td>
                  <td><input type="number" class="form-control customform-control"" min=1 name="value" placeholder="Enter Order" value="${order}"></td>
              <td>
                <button type="button" class="btn btn-success btn-sm submit-edit-button">Đồng ý</button>
                <button type="button" class="btn btn-secondary btn-sm cancel-edit-button">Hủy bỏ</button>
          </td>
        `);

            $tr.find('.cancel-edit-button').click(function () {
                $tr.html(originalData);
            });

            $tr.find('.submit-edit-button').click(function () {
                if (confirm("Bạn có chắc chắn muốn chỉnh sửa không?")) {
                    let formData = {
                        sessionName: $tr.find('input[name="sessionName"]').val(),
                        sessionId: sessionId,
                        value: $tr.find('input[name="value"]').val(),
                    };

                    $.ajax({
                        url: '/Admin/UpdateSession',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(formData),
                        success: function (data) {
                            if (data.success) {
                                toastr["success"](data.message);
                            }
                            else{
                                toastr["error"](data.message);
                            }

                            refreshTable();
                        },
                        error: function (xhr, status, error) {
                            console.error('Error:', error);
                        }
                    });
                }
            })
        })


        $(document).on('click', '.delete-button', function () {
            if (confirm("Bạn có chắc chắn muốn xóa không?")) {
                var row = $(this).closest('tr');
                let sessionId = $(this).data('session-id');
                console.log(sessionId);
                $.ajax({
                    url: `/Admin/DeleteSession/${sessionId}`,
                    method: 'DELETE',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            toastr["success"](data.message);
                            refreshTable();
                        }
                        else {
                            toastr["error"](data.message);
                        }

                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                    }
                });

                refreshTable();
            }

        })


        // Add Row Button Click
        $(document).on('click', '.add-button', function () {
            let $tr = $(this).closest('tr');
            let $tds = $tr.find('td');
            let order = parseInt($tds.eq(1).text()) + 1;
            var newRowHtml = `
                                <tr>
                                            <td><input type="text" class="form-control customform-control"" name="sessionName" placeholder="Nhập buổi học"></td>
                                            <td><input type="number" class="form-control customform-control"" min=1 name="value" placeholder="Nhập thứ tự" value="${order}"></td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm submit-add-button">Đồng ý</button>
                                        <button type="button" class="btn btn-secondary btn-sm cancel-add-button">Hủy bỏ</button>
                                    </td>
                                </tr>`;

            var $newRow = $tr.after(newRowHtml).next('tr');
            $newRow.find('.cancel-add-button').click(function () {
                $(this).closest('tr').remove();
            });

            $newRow.find('.submit-add-button').click(function () {
                if (confirm("Bạn có chắc chắn muốn thêm không?")) {
                    let formData = {
                        sessionName: $newRow.find('input[name="sessionName"]').val(),
                        value: $newRow.find('input[name="value"]').val(),
                    };
                    $.ajax({
                        url: '/Admin/CreateSession',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(formData),
                        success: function (data) {
                            if (data.success) {
                                toastr["success"](data.message);
                            }
                            else {
                                toastr["error"](data.message);
                            }

                            refreshTable();
                        },
                        error: function (xhr, status, error) {
                            console.error('Error:', error);
                        }
                    });
                }
            })
        });

    });
</script>

