@using GiaSuService.Models.IdentityViewModel
@using System.Security.Claims
@using GiaSuService.Configs;

@{
    ViewData["Title"] = "Trang đổi mật khẩu";
}

@model PasswordViewModel

<div class="container">
    <h1 class="pb-3">Đổi mật khẩu</h1>

    <form method="post" asp-action="Password" asp-controller="Identity">
        
        <div class="form-group">
            <label asp-for="Password">Mật khẩu mới:</label>
            <input type="password" id="newPassword" asp-for="Password" class="form-control customform-control" placeholder="Nhập mật khẩu mới">
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword">Nhập lại mật khẩu mới:</label>
            <input type="password" id="confirmPassword" asp-for="ConfirmPassword" class="form-control customform-control" placeholder="Nhập lại mật khẩu mới">
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        <br/>
        <div style="text-align: center !important;">
        <button type="submit" class="btn btn-primary customstyle-button w-100">Đổi mật khẩu</button>
        </div>
    </form>

</div>

<script>
    // Function to check condition and display confirmation dialog before submitting form
    function confirmSubmit(event) {
        //var newPassword = document.getElementById('newPassword').value;
        //var confirmPassword = document.getElementById('confirmPassword').value;

        //if (newPassword !== confirmPassword) {
        //    alert("Mật khẩu và xác nhận mật khẩu không khớp.");
        //    event.preventDefault(); // Prevent form submission if passwords don't match
        //}
        //else{
        //    var confirmation = confirm("Bạn chắc chắn đổi mật khẩu?");
        //    if (!confirmation) {
        //        event.preventDefault(); // Prevent form submission if user cancels submit
        //    }
        //}

        var confirmation = confirm("Bạn chắc chắn đổi mật khẩu?");
        if (!confirmation) {
            event.preventDefault(); // Prevent form submission if user cancels submit
        }
    }

    // Add event listener to the submit button
    document.addEventListener('DOMContentLoaded', function () {
        var submitButton = document.querySelector('button[type="submit"]');
        if (submitButton) {
            submitButton.addEventListener('click', confirmSubmit);
        }
    });
</script>