<div id="confirmationDialog" class="confirm-dialog-panel">
    <div class="confirm-dialog">

        <h2>Xác nhận</h2>

        <p id="confirmationMessage">Message</p>

        <div class="btn-container">
            <button type="button" class="mt-3 btn btn-danger" id="confirmNo">Từ chối</button>
            <button type="button" class="mt-3 btn btn-success" id="confirmYes">Đồng ý</button>
        </div>

    </div>
</div>
