@* Search bar *@
<div style="display:flex; flex-direction:row; justify-content:right; ">
    <div class="filter-content" style="padding:10px">
        <label for="searchId"><strong>Mã đơn:</strong></label>
    </div>
    <div class="filter-content" style="text-align: center !important; padding: 0px !important;">
        <input type="number" id="searchId" class="form-control customform-control" placeholder="Nhập mã đơn muốn tìm" />
    </div>
    <div class="filter-content" style="text-align: center !important;">
        <button type="button" class="btn btn-primary customstyle-button" onclick="findById()">Tìm kiếm</button>
    </div>
</div>
<br />