:root {
    --bs-font-sans-serif: "Montserrat", sans-serif;
    --title-font: "MonteCarlo", cursive;
    --box-color: #F3CCF3;
    --title-font-size: 4em;
    --sidebar-background-color: #decade;
    --sidebar-text-color: #6c0055;
    --sidebar-title-color: #882a8b;
    --sidebar-text-hover-color: #6420AA;
    --bs-body-bg: #F3F8FF;
}

body {
    font-family: var(--bs-font-sans-serif);
    background-color: var(--bs-body-bg);
}

h1 {
    font-family: var(--title-font);
    text-align: center;
    font-size: var(--title-font-size);
    /*color: #A85295;*/
    color: var(--sidebar-title-color);
}

.customstyle-button {
    background-color: #A85295;
    border: none;
    color: white;
}

.customformcheck-input {
    /*border-color: var(--box-color);*/
    border-color: #F3CCF3
}


.customform-control {
    width: 100%;
    font-size: 0.9rem;
    border: 1px solid var(--box-color);
}

input.customform-control {
    width: 100%;
}


.customform-select {
    width: contain;
    font-size: 0.9rem;
    border: 1px solid var(--box-color);
}

#pagination {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center;
}

